@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-width: 600px;
    font-family: 'Inter', sans-serif;
    background-image: url("images/background.webp");
    background-color: #222;
}

#body {
    animation: header 2s infinite;
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
}
/* Header */
.logo {
    height: 50px;
    padding: 10px auto 10px auto;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00dd00;
    animation: header 2s infinite;
    background-color: #222;
    justify-content: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    overflow-x:auto;
}
header > a > p {
    margin: 0 auto 0 0;
    padding: 25px;
    height: 25px;
    width: auto;
    color: #fff;
    font-size: large;
}
header > a > p:hover {
    background-color: #00dd00;
}

a {
    color: black;
    text-decoration: none;
}

@keyframes header {
    0% {
        filter: drop-shadow(0 0 10px #00dd00);
    }
    50% {
        filter: drop-shadow(0 0 0px #00dd00);
    }
    100% {
        filter: drop-shadow(0 0 10px #00dd00);
    }
}
/* Start */
.body {
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
}

#start {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-image: url("images/start.jpg");
    background-size: 1000px;
    padding: 150px 0;
    background-position: bottom 0 right 0;
}
h1 {
    font-size: xxx-large;
    color: white;
    text-shadow: 0 0 10px black;
}
#start > a >  button {
    margin-top: 50px;
    color: white;
    background-color: #00dd00;
    border: 2px solid #00cc00;
    padding: 15px;
    font-size: x-large;
    font-weight: 700;
    box-shadow: 0 0 0px #00dd00;
    transition: all 1.5s;
}
#start > a > button:hover {
    box-shadow: 0 0 15px #00dd00;
}

button {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
/*Story*/
#story > h1 {
    background-color: #222;
    padding: 10px 0px;
}

p {
    color: white;
    font-weight: 300;
    background-color: #222;
    text-shadow: 0 0 10px black;
    padding: 10px;
}
/*Music*/
